<div class="chat-container">

  <h1> Chat de Paquetes</h1>
  <p class="subtitle">Consulta el estado de tu paquete</p>

  <div class="chat-box">

  <div *ngFor="let item of mensajes" class="mensaje">
    {{ item }}
  </div>

  <div *ngIf="mostrarConfirmacion" class="confirmacion">
    <button (click)="confirmarEntrega()">
      Sí, recibir hoy
    </button>

    
     <button (click)="rechazarEntregaHoy()">
    No, no quiero recibirlo hoy
  </button>


  </div>
  <div *ngIf="mostrarUbicacion" class="confirmacion">
  <button
    (click)="compartirUbicacion()"
    [disabled]="ubicacionEnProceso"
  >
      Compartir mi ubicación
  </button>

  <button
  (click)="rechazarUbicacion()"
  [disabled]="ubicacionEnProceso"
  > No compartir mi ubicación
  </button>
</div>

</div>

  <div class="input-area">
    <input
      type="text"
      [(ngModel)]="mensaje"
      placeholder="Ej. ¿Dónde está mi paquete 1234?"
      (keyup.enter)="enviarMensaje()"
    />

    <button class="btn-enviar"
    (click)="enviarMensaje()">
      Enviar
    </button>
  </div>

</div>